{% extends 'base.html.twig' %}

{% block title %}{{ produit.libelle }}
{% endblock %}

{% block stylesheets %}

    .custom-alert{ padding: 5px 10px; display:none } .custom-alert-success{ padding: 5px 10px; display:none }

{% endblock %}

{% block body %}

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
        <div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="{{path('homepage')}}">Home</a></li>
                    {% for cat in produit.categories %}
					<li><a href="{{path('category_produits',{ 'id': cat.id })}}">{{ cat.libelle }}</a></li>
                    {% endfor %}
                    <li class="active">{{ produit.libelle }}</li>
				</ol>
			</div>
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="{{ produit.imagePrincipale }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ produit.imageSecondaire1 }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ produit.imageSecondaire1 }}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="{{ produit.imagePrincipale }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ produit.imageSecondaire1 }}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{ produit.imageSecondaire1 }}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{ produit.libelle }}</h2>
                        <div>
                            {% if avg_rating|round == 0 %}
                                <div class="product-rating">
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                            {% elseif avg_rating|round == 1 %}
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                            {% elseif avg_rating|round == 2  %}
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                            {% elseif avg_rating|round == 3  %}
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                            {% elseif avg_rating|round == 4  %}
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o empty"></i>
                                </div>
                            {% elseif avg_rating|round == 5  %}
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            {% endif %}
                            <a class="review-link" data-toggle="tab" href="#tab3">{{ produit.avis | length }}
                                | Add your Avis</a>
                        </div>
                        <div>
                            <h3 class="product-price">{{ produit.prix }}
                                DT</h3>
                        </div>
                        <p>{{ produit.descriptionCourt }}</p>
                        <form action="{{ path('add_to_cart', {'id': produit.id}) }}" method="post">
                            <div class="add-to-cart">
                                <div class="qty-label">
                                    Qty
                                    <div class="input-number">
                                        <input type="number" name="quantite" value="1">
                                        <span class="qty-up">+</span>
                                        <span class="qty-down">-</span>
                                    </div>
                                </div>
                                <button type="submit" class="add-to-cart-btn">
                                    <i class="fa fa-shopping-cart"></i>
                                    add to cart</button>
                            </div>
                        </form>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1">Description</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3">Avis ({{ produit.avis | length }})</a>
                            </li>
                        </ul>
                        <!-- /product tab nav -->

                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1 -->
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{ produit.descriptionLong | raw }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1 -->

                            <!-- tab3 -->
                            <div id="tab3" class="tab-pane fade in">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>{{ avg_rating|round(1, 'floor') }}</span>
                                                {% if avg_rating | round == 0 %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                {% elseif avg_rating|round == 1 %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                {% elseif avg_rating|round == 2  %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                {% elseif avg_rating|round == 3  %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                {% elseif avg_rating|round == 4  %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o empty"></i>
                                                    </div>
                                                {% elseif avg_rating|round == 5  %}
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">{{ star_five }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">{{ star_four }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">{{ star_three }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">{{ star_two }}</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">{{ star_one }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->

                                    <!-- Reviews -->
                                    <div class="col-md-6">
                                        <div id="reviews">
                                            <ul class="reviews">
                                                {% for avi in produit.avis %}
                                                    <li>
                                                        <div class="review-heading">
                                                            <h5 class="name">{{ avi.fullName }}</h5>
                                                            <p class="date">{{ avi.createdAt | date('d/m/Y') }}</p>
                                                            {% if avi.rating == 0 %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                </div>
                                                            {% elseif avi.rating == 1 %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                </div>
                                                            {% elseif avi.rating == 2  %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                </div>
                                                            {% elseif avi.rating == 3  %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                </div>
                                                            {% elseif avi.rating == 4  %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star-o empty"></i>
                                                                </div>
                                                            {% elseif avi.rating == 5  %}
                                                                <div class="review-rating">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                            {% endif %}

                                                        </div>
                                                        <div class="review-body">
                                                            <p>{{ avi.description }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Reviews -->

                                    <!-- Review Form -->
                                    <div class="col-md-3">
                                        <div id="review-form">
                                            <form class="review-form" action="{{ path('show_produit', {'id': produit.id}) }}" method="post">
                                                <div class="alert alert-danger custom-alert">
                                                    Name And Email And description must be
                                                    <strong>Empty</strong>
                                                </div>
                                                <div class="alert alert-success custom-alert-success">
                                                    Name And Email And description must be
                                                    <strong>Empty</strong>
                                                </div>
                                                <input id="nom" class="input" type="text" name="nom" placeholder="Your Name">

                                                <input id="email" class="input" type="email" name="email" placeholder="Your Email">

                                                <textarea id="desc" name="desc" class="input" placeholder="Your Review"></textarea>
                                                <div class="input-rating">
                                                    <span>Your Rating:
                                                    </span>
                                                    <div class="stars">
                                                        <input id="star5" name="rating" value="5" type="radio">
                                                        <label for="star5"></label>
                                                        <input id="star4" name="rating" value="4" type="radio">
                                                        <label for="star4"></label>
                                                        <input id="star3" name="rating" value="3" type="radio">
                                                        <label for="star3"></label>
                                                        <input id="star2" name="rating" value="2" type="radio">
                                                        <label for="star2"></label>
                                                        <input id="star1" name="rating" value="1" type="radio">
                                                        <label for="star1"></label>
                                                    </div>
                                                </div>
                                                <button class="primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /Review Form -->
                                </div>
                            </div>
                            <!-- /tab3 -->

                        </div>
                        <!-- /product tab content -->
                    </div>
                </div>
                <!-- /product tab -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            'use strict';

            var nomError = true,
                emailError = true,
                descError = true;

            $('#nom').blur(function () {
                if ($(this).val() === '') {
                    nomError = true;
                } else {
                    nomError = false;
                }
            });
            $('#email').blur(function () {
                if ($(this).val() === '') {
                    emailError = true;
                } else {
                    emailError = false;
                }
            });
            $('#desc').blur(function () {
                if ($(this).val() === '') {
                    descError = true;
                } else {
                    descError = false;
                }
            });

            $('.review-form').submit(function (e) {
                if (nomError === true || emailError === true || descError === true) {
                    e.preventDefault();
                    $('.custom-alert').fadeIn(200);
                    $('.custom-alert-success').hide();
                } else {
                    $('.custom-alert').hide();
                    $('.custom-alert-success').fadeIn(200);
                    $('#desc').text('');
                    $('#nom').text('');
                    $('#email').text('');
                }

            })

        });
    </script>

{% endblock %}